<nz-table nzTemplateMode>
    <thead>
        <tr>
            @for (item of table.columns; track $index) {
            <th>
                {{ item.title }}
            </th>
            }
        </tr>
    </thead>

    <tbody>
        @for (item of table.data; track $index) {
        <tr>
            @for (col of table.columns; track $index) {
                @switch (col.type) {
                    @case ('text') {
                    <td>
                        <column-text [row]="item" [field]="col.field"></column-text>
                    </td>
                    }
                    @case ('number') {
                    <td>
                        <column-number [row]="item" [col]="col"></column-number>
                    </td>
                    }
                    @case ('person') {
                    <td>
                        <column-person [row]="item" [col]="col"></column-person>
                    </td>
                    }
                    @case ('select') {
                    <td>
                        <column-select [row]="item" [column]="col"></column-select>
                    </td>
                    }
                    @case ('date') {
                    <td>
                        <column-date [row]="item" [col]="col"></column-date>
                    </td>
                    }
                }
            }
        </tr>
        }
        <tr>
            @for (column of table.columns; track $index) {
                @switch (column.type) {
                    @case ('select') {
                        <td>
                            <status-percentage [column]="column" [table]="table"></status-percentage>
                        </td>
                    }

                    @default {
                        <td></td>
                    }
                }
            }
        </tr>
    </tbody>
</nz-table>