/* You can add global styles to this file, and also import other style files */
:root {
    --white: #ffffff;
}

p {
    margin: 0;
    padding: 0;
}

.popover-content {
    min-width: 240px;
}

.popover-content--label {
    font-weight: 600;
    font-size: 12px;
    margin-bottom: 4px;
}

.options {}

.options--item {
    cursor: pointer;
    padding: 4px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;

    &:hover {
        background-color: #f3f3f3;
    }
}

.options--item--label {
    flex: 1;
}

.options--item--tag {
    cursor: pointer;
    display: inline-block;
    padding: 2px 8px;
    border-radius: 4px;
    font-size: 12px;
    color: black;
    margin: 0;
}

.header--cell {
    cursor: pointer;
}

.ant-popover {
    padding-left: 2px;
}


.ant-popover-inner-content {
    padding: 4px;
    border-radius: 8px;
}

.ant-popover-inner {
    border-radius: 8px;
}


.ant-popover-arrow {
    display: none;
}

.popover-content--label {
    padding-left: 4px;
}

.colors {
    display: flex;
    flex-direction: column;
}

.colors--item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px;
    border-radius: 4px;
    cursor: pointer;
    
    &:hover {
        background-color: #f3f3f3;
    }
}

.colors--item--color {
    width: 16px;
    height: 16px;
    border-radius: 4px;
    margin-right: 8px;
}

.colors--item--label {
    font-size: 14px;
}

.toolbar {
    display: flex;
    flex-direction: row;
    padding: 12px;
}

.toolbar--item {
    margin-right: 8px;

    & :last-child {
        margin-right: 0;
    }
}

.toolbar-sort {
    padding: 12px;
}

.view-container {
    padding: 12px
}

.kanban {
    display: flex;
    flex-direction: row;
    gap: 12px;
    overflow-x: auto;
}

.kanban-item {
    min-width: 230px;
    padding: 8px;
    border-radius: 8px;
}

.kanban-item--content {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.kanban-item--task {
    background-color: white;
    padding: 8px 8px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 4px
}

.ant-form-item {
    margin-bottom: 4px;
}

.ant-tabs-tab {
    padding: 8px 16px;
}

.kanban-toolbar--status {
    width: 260px;
}